// 変数
$serif: 'Sawarabi Mincho', serif;
$sans-serif: Helvetica, "メイリオ", "Yu Gothic", sans-serif;
$gold: #a28a68;
$gray: #9ea2a6;
$orange: #e4713b;


/* 共通 */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  color: #333;
  font-family: $sans-serif;
  font-size: 62.5%;
}

img, iframe {
  vertical-align: bottom;
}

a {
  outline: none;
}


/* スニペット */
.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1040px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.alignc {
  text-align: center;
}

.clear {
  clear: both;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.gold {
  color: $gold;
}

.appear-wrapper,
.appear-content,
.delay-content,
.delay-content-left,
.delay-content-right {
  position: relative;
}

@media screen and (min-width:993px) {
  .pc-none {
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:993px) {
  .tab-none {
    display: none;
  }  
}

@media screen and (max-width:767px) {
  .wrapper {
    padding: 0 5%;
  }

  .sp-none {
    display: none;
  }
}


/* フロートバー */
.float-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  border-bottom: solid 1px #000;
  height: 65px;
  background: rgba(0, 0, 0, .8);
  font-family: $serif;

  .wrapper {
    display: table;
    width: 100%;

    .logo, .gnav {
      display: table-cell;
    }

    .logo {
      width: 103px;
      vertical-align: middle;

      a {
        transition: opacity .4s;
      }

      a:hover {
        opacity: .8;
      }
    }

    .gnav .links {
      float: right;

      li {
        float: left;
        font-size: 1.55rem;
        letter-spacing: .1em;

        a {
          display: inline-block;
          padding: 25px 15px;
          color: #fff;
          text-decoration: none;
          transition: color .4s;

          &:hover {
            color: #9fc1ff;
          }
        }
      }
    }

    .hbg-btn {
      cursor: pointer;
      float: right;
      display: none;
      padding: 19px 0;
      color: #fff;
      font-size: 2.7rem;
    }
  }
}

.round-buy-btn {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 9999;
  display: block;
  padding-top: 15px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: url(../images/arrow.gif) no-repeat center bottom 20px,
    $orange;
  color: #fff;
  font-size: 1.7rem;
  font-family: $serif;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  transition: opacity .4s;

  &:hover {
    opacity: .8;
  }
}

.facebook-btn {
  position: fixed;
  top: 270px;
  right: 50px;
  z-index: 9999;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #3b5998;
  color: #fff;
  font-size: 6.6rem;
  font-weight: bold;
  line-height: 150px;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  transition: opacity .4s;

  &:hover {
    opacity: .8;
  }
}

@media screen and (max-width:992px) {
  .float-bar .wrapper .gnav .links li {
    font-size: 1.4rem;

    a {
      padding: 26px 7px;
    }
  }

  .round-buy-btn {
    top: 90px;
    right: 30px;
    padding-top: 10px;
    width: 120px;
    height: 120px;
    background-position: center bottom 15px;
    font-size: 1.4rem;
  }

  .facebook-btn {
    top: 230px;
    right: 30px;
    width: 120px;
    height: 120px;
    line-height: 120px;
  }
}

@media screen and (max-width:767px) {
  .float-bar .wrapper {
    .logo {
      padding-top: 10px;
      vertical-align: top;
    }

    .gnav {
      position: absolute;
      top: 65px;
      right: -180px;
      border-left: solid 1px #dedede;
      width: 180px;
      height: calc(100vh - 65px);
      background: rgba(255, 255, 255, .9);

      .links {
        width: 100%;

        li {
          float: none;
          font-size: 1.45rem;

          a {
            padding: 20px 0 20px 1.5em;
            border-bottom: solid 1px #dedede;
            width: 100%;
            color: #333;

            &:hover {
              color: inherit;
            }
          }
        } 
      }
    }
    .hbg-btn {
      display: block;
    }
  }

  .round-buy-btn, .facebook-btn {
    display: none;
  }
}


/* メインビジュアル */
.main-visual {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $serif;
  text-align: center;

  .mv-text {
    position: relative;
    z-index: 20;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 8px #000;

    .logo{
      padding-bottom: 35px;
    }

    .catchcopy {
      padding-bottom: 30px;
      font-size: 3.6rem;
      line-height: 1.4;
      letter-spacing: .075em;
    }

    .purpose {
      padding: 0 7%;
      font-size: 1.6rem;
      line-height: 1.5;
      letter-spacing: .075em;
    }
  }

  .mv-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: url(../images/bg-folded.png) no-repeat center bottom,
      url(../images/bg-overlay.png) repeat;
  }

  .scroll-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 20;
    display: inline-block;
    margin-left: -32.86px;
    padding: 0 .5em;
    font-size: 4rem;
    color: #fff;
  }
}

@media screen and (max-width:767px) {
  .main-visual .mv-text {
    .logo {
      padding-bottom: 20px;

      img{
        width: 60%;
      }
    }

    .catchcopy {
      padding: 0 7% 30px;
      font-size: 2.7rem;
    }
  }
}


/* 見出し */
.heading {
  font-family: $serif;

  .title-jp {
    font-size: 3.7rem;
    letter-spacing: .05em;
  }

  .title-en {
    font-size: 1.5rem;
    letter-spacing: .075em;
    line-height: 1.5;
    color: $gray;
  } 
}

.heading-center {
  text-align: center;

  .title-jp {
    padding-bottom: 18px;
    line-height: 1.4;
  }

  .title-jp::after {
    content: '';
    display: block;
    margin: 13px auto 0;
    width: 38px;
    height: 2px;
    background: $gold;
  }
}

.heading-left {
  .title-jp {
    padding-left: 10px;
    border-left: solid 2px;
  }

  .title-en {
    padding-top: 15px;
    padding-left: 12px;
  }
}

@media screen and (max-width:992px) {
  .heading {
    .title-jp {
      font-size: 3.3rem;
    }
  }
}

@media screen and (max-width:767px) {
  .heading {
    .title-jp {
      font-size: 3rem;
    }
  }
}


/* おすすめの理由 */
.reasons {
  padding: 90px 0 50px;
  background: url(../images/reasons/reasons-bg.jpg) no-repeat center bottom;
  background-size: cover;

  .left, .right {
    width: 50%;
  }

  .heading {
    padding-bottom: 65px;
  }

  .reason-box {
    padding-bottom: 90px;
  }

  .reason-img {
    max-width: 450px;

    img {
      width: 100%;
    }
  }

  .reason-title {
    padding-bottom: 20px;
    font-size: 3rem;
    font-family: $serif;
    line-height: 1.4;
  }

  .reason-text {
    font-size: 1.6rem;
    line-height: 2;
  }
}

@media screen and (max-width:992px) {
  .reasons {
    .reason-title {
      font-size: 2.8rem;
    }

    .reason-img {
      &.left {
        padding-right: 30px;
      }

      &.right {
        padding-left: 30px;
      }
    }
  }
}

@media screen and (max-width:767px) {
  .reasons {
    padding: 70px 0 120px;
    background-size: contain;

    .left, .right {
      width: 100%;
    }

    .heading {
      padding-bottom: 60px;
    }

    .reason-box {
      padding-bottom: 70px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .reason-img {
      padding-bottom: 20px;
      max-width: none;

      &::before {
        content: attr(data-title);
        display: block;
        padding-bottom: 20px;
        font-size: 2.5rem;
        font-family: $serif;
        line-height: 1.4;
      }

      &.left, &.right {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .reason-title {
      display: none;
    }
  }
}


/* 製品ラインナップ */
.products {
  padding-top: 120px;
  background: url(../images/products/products-bg.jpg) no-repeat center top 30%,
    #1b2026;
  background-size: contain;
  color: #fff;
  text-align: center;

  .products-wrapper {
    padding-top: 60px;

    .product-box {
      float: left;
      padding-bottom: 90px;
      width: calc(100%/3);

      &:nth-last-child(-n+2) {
        padding-bottom: 60px;
      }

      .product-img {
        padding-bottom: 30px;
      }

      .product-desc {
        display: inline-block;
        padding: 0 10px;
        width: 100%;
        max-width: 280px;
        font-size: 1.5rem;
        line-height: 2;

        &.coming-soon .product-text {
          text-align: center;
        }
      }

      .product-title {
        padding-bottom: .5em;
        font-size: 2.3rem;
        font-weight: bold;
        line-height: 1;
      }

      .product-list {
        list-style-type: disc;
        margin-left: 1.5em;
        padding: 0 0 0.7em;
        font-size: 1.4rem;
        text-align: left;
      }

      .product-text {
        text-align: left;
      }
    }
  }

  .buy-btn {
    display: inline-block;
    margin-bottom: 80px;
    padding: 20px 60px;
    border-radius: 3px;
    font-size: 1.6rem;
    background: $orange;
    color: #fff;
    line-height: 1.6;
    text-decoration: none;
    transition: opacity .4s;

    &:hover {
      opacity: .8;
    }
  }

  .usage {
    margin: 0 auto;
    padding-bottom: 120px;
    max-width: 720px;

    table {
      width: 100%;
      color: $gray;

      th {
        white-space: nowrap;
        padding-bottom: 15px;
        border-bottom: solid 1px #323232;
        font-size: 1.6rem;
        font-family: $serif;
        text-align: left;
      }

      td {
        padding-top: 20px;
        padding-bottom: 15px;
        border-bottom: solid 1px #323232;
        font-size: 1.3rem;
        text-align: left;
        line-height: 2;
      }

      tr:last-child {
        th, td {
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .products {
    padding-top: 90px;
    background-position: bottom;

    .products-wrapper {
      padding-top: 60px;

      .product-box {
        padding-bottom: 80px;
        width: 100%;

        .product-img {
          width: 100%;

          img {
            width: 50%;
          }
        }

        .product-desc {
          padding: 0;
          max-width: none;
        }
      }
    }

    .buy-btn {
      width: 100%;
    }

    .usage {
      padding-bottom: 85px;

      table {        
        th {
          display: block;
          padding-top: 15px;
          border: none;
        }

        td {
          display: block;
          padding-top: 0;
        }
      }
    }
  }
}


/* 製造工程 */
.process {
  padding: 120px 0;
  background: url(../images/process/process-bg.jpg) no-repeat bottom left;

  .heading {
    padding-bottom: 60px;
  }

  .process-box {
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        .process-img {
          background: url(../images/process/process#{$i}.jpg) no-repeat center center;
          background-size: cover;
        }

        .process-title::before {
          content: "#{$i}";
          display: inline-block;
          margin-right: .4em;
          color: $gold;
        }
      }
    }

    .left, .right {
      width: 50%;
    }

    .process-desc {
      padding: 45px 60px 0;
      min-height: 300px;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }

    .process-title {
      padding-bottom: 20px;
      font-size: 3rem;
      font-family: $serif;
      line-height: 1.4;
    }

    .process-text {
      font-size: 1.6rem;
      line-height: 1.9;
    }
  }
}

@media screen and (max-width:992px) {
  .process {
    .process-box .process-desc {
      padding: 30px 40px 0;
      min-height: 320px;
    }
  }
}

@media screen and (max-width:767px) {
  .process {
    padding: 90px 0;

    .process-box {
      padding-bottom: 70px;

      &:last-child {
        padding-bottom: 0;
      }
      
      .process-title {
        padding-bottom: 20px;
        font-size: 2.6rem;
      }

      .process-desc {
        float: none;
        padding: 35px 0 0;
        width: 100%;
        min-height: 0;
      }
    }

    .process-img {
      float: none;
      margin: 0 auto;
      min-height: 180px;

      &.left, &.right {
        width: 70%;
      }
    }
  }
}


/* 販売企業 */
.sellers {
  padding: 120px 0;
  background: url(../images/sellers/sellers-bg.jpg) no-repeat center bottom,
    #242930;
  background-size: contain;
  color: #fff;
  text-align: center;

  .left, .right {
    width: 50%;
  }

  .left {
    padding-right: 10px;
  }

  .right {
    padding-left: 10px;
  }

  .heading {
    padding-bottom: 60px;
  }

  .seller-box {
    max-width: 480px;
  }

  .seller-company {
    padding-bottom: 25px;
    font-size: 2.5rem;
    font-family: $serif;
    letter-spacing: .1em;
  }

  .seller-details {
    padding-bottom: 35px;
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: .1em;
  }

  .map {
    display: block;
    margin-bottom: 40px;
  }

  .map-btn {
    display: inline-block;
    padding: 15px 55px;
    border: solid 1px #46494a;
    border-radius: 3px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    letter-spacing: .05em;
    transition: background .4s;

    &:hover {
      background: #000;
    }
  }
}

@media screen and (max-width:767px) {
  .sellers {
    padding: 90px 0 120px;

    .seller-box {
      padding-bottom: 70px;
      width: 100%;
      max-width: none;

      &.left {
        padding-right: 0;
      }

      &.right {
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }
}


/* お問い合わせ */
.inquiry {
  padding: 120px 0;
  background: #f1f1f1;

  .left {
    padding-right: 40px;
    width: 40%;
  }

  .right {
    width: 60%;
  }

  .title-jp {
    border-color: $gold;
  }

  &-text {
    padding-top: 35px;
    padding-left: 12px;
    font-size: 1.6rem;
    line-height: 2;
  }

  &-ways {
    padding-top: 40px;
    padding-left: 12px;

    li {
      position: relative;
      padding-bottom: 17px;
      padding-left: 1.8em;
      font-size: 1.5rem;
      line-height: 1.5;

      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        font-family: FontAwesome;
      }

      &.inquiry-email::before {
        content: "\f0e0";
      }

      &.inquiry-tel::before {
        content: "\f095";
      }

      &.inquiry-address::before {
        content: "\f1ad";
      }
    }
  }
  .submit-desc {
    font-size: 1.4rem;
    padding-top: 27px;

    a {
      color: $orange;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #mailformpro {
    table {
      width: 100%;
    }

    .form-head {
      .form-label:nth-child(2) {
        padding-left: 1.5%;
      }
    }

    .form-label {
      padding-bottom: 15px;
      width: 50%;
      font-size: 1.5rem;
      text-align: left;

      label {
        margin: 0;
      }
    }

    .form-input {
      padding-bottom: 25px;
      vertical-align: top;

      &:nth-child(2) {
        text-align: right;
      }
    }

    select,
    option,
    input[type='text'],
    input[type='email'],
    input[type='tel'],
    textarea {
      width: 97%;
      height: 2.5em;
      max-width: 100%;
      margin: 0;
      padding: 8px 13px;
      border: solid 1px #8d8d8d;
      border-radius: 0;
      font-size: 1.8rem;
      font-family: $sans-serif;
    }

    textarea {
      min-width: 100%;
      min-height: 120px;
    }

    .submit-btn {
      cursor: pointer;
      margin-top: 27px;
      padding: 15px 0;
      border: none;
      border-radius: 3px;
      min-width: 100%;
      background: $orange;
      color: #fff;
      font-size: 1.6rem;
      text-shadow: none;
      transition: opacity .4s;
    }

    .submit-btn:hover {
      opacity: .8;
    }
  }
}

@media screen and (max-width:767px) {
  .inquiry {
    padding: 90px 0;

    .left, .right {
      width: 100%;
    }

    .left {
      padding-right: 0;
    }

    &-ways {
      padding-top: 30px;
      padding-bottom: 20px;

      li {
        padding-bottom: 12px;
      }
    }

    #mailformpro {
      .left, .right {
        width: 100%;
      }

      select,
      option,
      input[type='text'],
      input[type='email'],
      input[type='tel'],
      textarea {
        width: 100%;
      }
    }

    .form-input {
      display: block;

      &::before {
        content: attr(data-label);
        display: block;
        padding-bottom: 15px;
        text-align: left;
        font-size: 1.4rem;
      }
    }
  }
}


/* 会社概要 */
.company {
  padding: 120px 0;
  background: url(../images/company/company-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;

  .heading {
    text-shadow: 1px 1px 5px rgba(0,0,0,.4);

    .title-en {
      color: #fff;
    }
  }

  .heading-center .title-jp::after {
    background: #fff;
  }

  &-detail {
    max-width: 600px;
    margin: 70px auto 50px;
    padding: 40px;
    background: rgba(0,0,0,.35);

    table {
      width: 100%;

      th {
        padding-bottom: 15px;
        font-size: 1.9rem;
        font-family: $serif;
        text-align: left;
        letter-spacing: .075em;
      }

      td {
        padding-bottom: 35px;
        width: 50%;
        font-size: 1.6rem;
        letter-spacing: .05em;
        line-height: 1.5;
      }

      tr:last-child td {
        padding-bottom: 0;
      }
    }

    .business-list {
      li {
        padding-bottom: .8em;
        padding-left: .4em;
        vertical-align: middle;

        a {
          color: #fff;

          &:hover{
            text-decoration: none;
          }
        }

        &::before {
          content: "■";
          color: $gold;
          font-size: 1.2rem;
          font-family: FontAwesome;
          margin-right: 0.5em;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .facebook-wrapper {
    width: 100%;
    text-align: center;

    .facebook-border {
      margin: 0 auto;
      max-width: 500px;
      padding: 21px;
      background: #3b5998;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width:767px) {
  .company {
    padding: 90px 0;
    background: url(../images/company/company-bg_sp.jpg) no-repeat center;
    background-size: cover;

    &-detail {
      padding: 5%;
    }

    table td {
      &::before {
        content: attr(data-title);
        display: block;
        padding-bottom: 12px;
        font-size: 1.8rem;
        font-family: $serif;
        text-align: left;
        letter-spacing: .075em;
      }
    }
  }
}


/* サンクス */
.thanks {
  .float-bar {
    position: static;

    .wrapper .logo {
      height: 65px;
    }
  }

  .content {
    padding: 120px 0;
    text-align: center;
  }

  .heading {
    padding-bottom: 60px;
  }

  &-text {
    padding-bottom: 40px;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .index-btn {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 60px;
    border-radius: 3px;
    background: $orange;
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: opacity .4s;

    &:hover {
      opacity: .8;
    }
  }
}


/* フッター */
.footer {
  background: #263037;
  color: #fff;

  .copyright {
    text-align: center;

    small {
      display: inline-block;
      padding: 15px 0;
      font-size: 1.3rem;
      font-family: $serif;
    } 
  }

  .policy-wrapper {
    padding-top: 70px;
    font-size: 1.5rem;
    color: $gray;
    width: 80%;
    margin: 0 auto;

    .policy-heading {
      padding-bottom: 1em;
      font-size: 2.4rem;
      font-family: $serif;
    }

    .policy-desc {
      padding-bottom: 30px;
      line-height: 1.6;
    }

    .policy-list {
      list-style-type: decimal;

      li {
        float: left;
        padding-bottom: 1em;
        font-size: 1.3rem;
        width: 47.5%;
        line-height: 1.6;

        &:nth-child(even) {
          float: right;
        }

        .policy-title {
          padding-bottom: .5em;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .footer {
    .policy-wrapper {
      padding-top: 60px;
      width: 90%;

      .policy-list {
        padding-left: 1em;

        li {
          float: none;
          width: 100%;
        }
      }
    }
  }
}
